<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteor - 编辑</title>
    <link rel="stylesheet" href="/lib/edit/edit.css">
    <link rel="stylesheet" href="/lib/booticon.css">
</head>

<body>
    <script src="/lib/jq.min.js"></script><script>
        file={{ file|safe }};
        pg={{ pgid|safe }};
        stylem={{ stylem|safe }};
        props={{ props|safe }};
        tags={{ tags|safe }};
        allanimtype={{ allanimtype|safe }};
        pgnum={{ pgnum|safe }};
    </script>
    <div id="mainpage">
        <div class="bar">
            <div id="bar">
                <img src="/lib/logo.svg" alt="Meteor" class="icon">
                <span class="meteor">Meteor</span>
                <div class="menu list">
                    <span class="item" onclick="showcm(this.offsetLeft+this.offsetWidth+15,this.offsetTop,this)">文件
                        <contextmenu>
                            <p onclick="window.location='/new'">新建</p>
                            <p onclick="$.get('/open').done(()=>{window.location='/edit/0'});">打开</p>
                            <p onclick="$.get('/save').done(()=>{alert('已保存')})">保存</p>
                        </contextmenu>
                    </span>
                    <span class="item" onclick="showcm(this.offsetLeft+this.offsetWidth+15,this.offsetTop,this)">编辑
                        <contextmenu>
                            <p onclick="pasteElement()" if="clipboard">粘贴到页面</p>
                            <hr>
                            <p onclick="copyElement()" if="selected">复制</p>
                            <p onclick="copyElement(); delEle(selected)" if="selected">剪切</p>
                        </contextmenu>
                    </span>
                    <span class="item">帮助</span>
                </div>
                <div class="bottom list">
                    <span class="item" onclick="window.open('/play','_blank')">播放</span>
                    <a class="item" href="/export" download="output.html" style="background-color: #2983cc;color: #fff;">导出</a>
                    <span class="item" onclick="window.location='/';">关于</span>
                </div>
            </div>
        </div>
        <div class="ctr">
            <iframe id="page" src="/render/{{ pgid }}" allowtransparency="true">

            </iframe>
            <div id="toolbar">
                <!-- <div class="b ac select-then-enable">
                    <div class="a bt l mv">
                        <i class="bi bi-copy"></i>
                        <span>复制</span>
                    </div>
                    <div class="a bt l dl" onclick="delEle(selected)">
                        <i class="bi bi-trash3"></i>
                        <span>删除</span>
                    </div>
                </div> -->
                <div class="b zoom">
                    <div class="a bt l mv" onclick="$('#zoompage').val(Number($('#zoompage').val())-5);zoompage($('#zoompage').val())">
                        <i class="bi bi-zoom-out"></i>
                    </div>
                    <input id="zoompage" type="range" min="20" max="120" step="5" value="100" oninput="zoompage(this.value);">
                    <div class="a bt l mv" onclick="$('#zoompage').val(Number($('#zoompage').val())+5);zoompage($('#zoompage').val())">
                        <i class="bi bi-zoom-in"></i>
                    </div>
                </div>
            </div>
            <div class="p1">
                <div id="pages">
                    <div class="list">

                    </div>
                    <div class="bottom">
                        <button onclick="addPage()"><i class="bi bi-plus"></i>添加</button>
                    </div>
                </div>
                <div id="tools">
                    <div class="group big">
                        <div class="fun">
                            <div class="ts big" onclick="addEle('text')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-textarea-t" viewBox="0 0 16 16">
                                    <path
                                        d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path
                                        d="M11.434 4H4.566L4.5 5.994h.386c.21-1.252.612-1.446 2.173-1.495l.343-.011v6.343c0 .537-.116.665-1.049.748V12h3.294v-.421c-.938-.083-1.054-.21-1.054-.748V4.488l.348.01c1.56.05 1.963.244 2.173 1.496h.386L11.434 4z" />
                                </svg>
                                <span>文本</span>
                            </div>
                            <div class="ts big" onclick="addEle('rect')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bounding-box-circles" viewBox="0 0 16 16">
                                    <path
                                        d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                </svg>
                                <span>方块</span>
                            </div>
                            <div class="ts big" onclick="uploadImage()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                </svg>
                                <span>图片</span>
                            </div>
                        </div>
                        <span>常用</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="css">
            <div class="p1">
                <div id="prop">
                    <div class="title">元素属性</div>
                    <div class="props">
                    </div>
                </div>
                <div id="tags">
                    <div class="title">样式标签</div>
                    <!-- <p style="font-size: small;margin: 0;">点击以添加标签至选中元素。点击标签右部按钮以编辑标签样式。标签样式将用于所有设此标签之元素，但元素样式恒优先于标签样式。</p> -->
                    <div class="tag-list select-then-enable"></div>
                    <div class="tag-actions">
                        <button onclick="$('#addtag').show();">添加</button>
                        <button onclick="manageTag()">删除</button>
                    </div>
                </div>
            </div>
            <div id="sti">
                <a class="a sty show" onclick="$('#stic>.show,#sti>.show').removeClass('show');$('#stic>#sty,#sti>.sty').addClass('show');">样式</a>
                <a class="a animation" onclick="$('#stic>.show,#sti>.show').removeClass('show');$('#stic>#animation,#sti>.animation').addClass('show');">动画</a>
            </div>
            <div class="page-container" id="stic">
                <div id="sty" class="page show">
                    <!-- 样式表 -->
                </div>
                <div id="animation" class="page">
                    <!-- <p style="margin: 10px;">不是很建议编辑，有点小问题。</p> -->
                    <div class="animation-panel">
                        <div class="timeline">
                            <div class="onload">
                                <span style="font-size:20px">初始</span>
                                <div class="animation-list"></div>
                            </div>
                            <div class="onclick">
                                <span style="font-size:20px">单击触发 <button onclick="addTimeNode()"><i class="bi bi-plus"></i></button></span>
                                <div class="nodes"></div>
                            </div>
                        </div>
                        <div class="animation-editor">
                            <div class="no-selection">
                                选择动画以编辑
                            </div>
                            <div class="editor">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addstyle" class="modal">
        <div class="tit">
            <span class="key"></span>
            <span class="key2"></span>
        </div>
        <div class="body">
            <div class="value"></div>
        </div>
        <button class="ok">确定</button>
        <button onclick="$('.modal').hide()" class="cancel">取消</button>
    </div>
    <div id="addtag" class="modal">
        <span class="tit">添加标签</span>
        <div class="body">
            <input type="text" class="tag" />
        </div>
        <button class="ok" onclick="addNewTag($('#addtag>.body>.tag').val())">确定</button>
        <button onclick="$('.modal').hide()" class="cancel">取消</button>
    </div>
    <div id="addAnimation" class="modal">
        <div class="tit">添加动画</div>
        <div class="body">

        </div>
        <!-- <button class="ok" onclick="addNewAnimation()">确定</button> -->
        <button onclick="$('.modal').hide()" class="cancel">取消</button>
    </div>
    <div id="selectmenu"></div>
    <div id="contextmenu"></div>
    <script src="/lib/edit/edit.js"></script>
    <!-- <script>
        gotopage(0);
    </script> -->
</body>

</html>