<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteor - 编辑</title>
    <link rel="stylesheet" href="/lib/edit.css">
    <link rel="stylesheet" href="/lib/booticon.css">
</head>

<body>
    <script src="/lib/jq.min.js"></script><script>
        file={{ file|safe }};
        pg={{ pgid|safe }};
        stylem={{ stylem|safe }};
        props={{ props|safe }};
        tags={{ tags|safe }};
    </script>
    <div id="mainpage">
        <div class="bar">
            <div id="bar">
                <img src="/lib/logo.svg" alt="Meteor" class="icon">
                <span class="meteor">Meteor</span>
                <div class="menu list">
                    <span class="item">文件</span>
                    <span class="item">编辑</span>
                    <span class="item">帮助</span>
                </div>
                <div class="bottom list">
                    <span class="item" onclick="window.location='/';">关于</span>
                </div>
            </div>
        </div>
        <div class="ctr">
            <iframe id="page" src="/render/{{ pgid }}">

            </iframe>
            <div id="toolbar">
                <div class="b ac select-then-enable">
                    <div class="a bt l mv">
                        <i class="bi bi-copy"></i>
                        <span>复制</span>
                    </div>
                    <div class="a bt l dl" onclick="delEle(selected)">
                        <i class="bi bi-trash3"></i>
                        <span>删除</span>
                    </div>
                </div>
                <div class="b zoom">
                    <div class="a bt l mv" onclick="$('#zoompage').val(Number($('#zoompage').val())-5);zoompage($('#zoompage').val())">
                        <i class="bi bi-zoom-out"></i>
                    </div>
                    <input id="zoompage" type="range" min="20" max="150" step="5" value="100" oninput="zoompage(this.value);">
                    <div class="a bt l mv" onclick="$('#zoompage').val(Number($('#zoompage').val())+5);zoompage($('#zoompage').val())">
                        <i class="bi bi-zoom-in"></i>
                    </div>
                </div>
            </div>
            <div class="p1">
                <div id="animation">
                    动画面板
                </div>
                <div id="tools">
                    <div class="group big">
                        <div class="fun">
                            <div class="ts big" onclick="addEle('text')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-textarea-t" viewBox="0 0 16 16">
                                    <path
                                        d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path
                                        d="M11.434 4H4.566L4.5 5.994h.386c.21-1.252.612-1.446 2.173-1.495l.343-.011v6.343c0 .537-.116.665-1.049.748V12h3.294v-.421c-.938-.083-1.054-.21-1.054-.748V4.488l.348.01c1.56.05 1.963.244 2.173 1.496h.386L11.434 4z" />
                                </svg>
                                <span>文本</span>
                            </div>
                            <div class="ts big" onclick="addEle('shape')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bounding-box-circles" viewBox="0 0 16 16">
                                    <path
                                        d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                </svg>
                                <span>方块</span>
                            </div>
                        </div>
                        <span>常用</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="css">
            <div class="p1">
                <div id="prop">
                    <div class="title">属性</div>
                    <div class="props">
                    </div>
                </div>
                <div id="tags">
                    <div class="title">标签</div>
                    <!-- <p style="font-size: small;margin: 0;">点击以添加标签至选中元素。点击标签右部按钮以编辑标签样式。标签样式将用于所有设此标签之元素，但元素样式恒优先于标签样式。</p> -->
                    <div class="tag-list"></div>
                    <div class="tag-actions">
                        <button onclick="$('#addtag').show();">添加</button>
                        <button onclick="manageTag()">删除</button>
                    </div>
                </div>
            </div>
            <div id="sti">

            </div>
            <div id="sty">
                <!-- 样式表 -->
            </div>
        </div>
    </div>
    <div id="addstyle" class="modal">
        <div class="tit">
            <span class="key"></span>
            <span class="key2"></span>
        </div>
        <div class="body">
            <div class="value"></div>
        </div>
        <button class="ok">确定</button>
        <button onclick="$('.modal').hide()" class="cancel">取消</button>
    </div>
    <div id="addtag" class="modal">
        <span class="tit">添加标签</span>
        <div class="body">
            <input type="text" class="tag" />
        </div>
        <button class="ok" onclick="addNewTag($('#addtag>.body>.tag').val())">确定</button>
        <button onclick="$('.modal').hide()" class="cancel">取消</button>
    </div>
    <div id="selectmenu"></div>
    <script src="/lib/edit.js"></script>
    <!-- <script>
        gotopage(0);
    </script> -->
</body>

</html>