{% extends "base.html" %}
{% block html %}
<link rel="stylesheet" href="lib/index.css">
<div id="main">
    <img src="lib/logo.svg">
    <span class="tit">Meteor</span>
    <span class="det">专业的演示文稿制作器，支持 Html 打包</span>
    <span class="aut" style="margin-top: 20px;">由星源开发 · Developed by Starry Source</span>
    <span class="aut">Github <a href="https://github.com/starry-source/meteor" class="jump">starry-source/meteor</a></span>
    <a href="/edit/0" class="jump" style="color: #2983cc;margin-top: 20px;">开始使用</a>
    
</div>
{% endblock html %}